p {
  margin: 0;
}
.Narbar {
  /* From https://css.glass */
  background: rgba(243, 245, 247, 0.56);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(243, 245, 247, 0.3);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 100;
}
.mycontainerNav {
  margin: 1px 20vw;
  height: 100%;
}
.mycontainer {
  margin: 1px 23.8vw;
  height: 100%;
}

.NarbarContent {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.NarbarContent > div {
  display: flex;
}
.NarbarContent > div:first-of-type {
  width: 100%;
  gap: 50px;
}
.NarbarContent > div:first-of-type > div:first-of-type {
  display: flex;
  align-items: center;
}
.NarbarContent > div:first-of-type > div:last-of-type {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 60px;
  position: relative;
}

.navigationT {
  cursor: pointer;
  font-size: 0.95rem;
  padding: 8px;
  font-weight: 550;
}

.navigationT:hover {
  border-radius: 6px;
  background-color: #ffffff;
  color: #0e49b5;
}

.navigationTstatic {
  background-color: rgb(24, 26, 30);
  border: none;
  color: white;
}
.NarbarContent > div:last-of-type {
  gap: 60px;
}
.NarbarContent > div:last-of-type > button:first-of-type {
  height: 35px;
  width: 70px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.NarbarContent > div:last-of-type > button:last-of-type {
  height: 35px;
  width: 70px;
  background-color: #0e49b5;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

/* drop down business */

.dropdownbusines {
  background: rgba(253, 253, 253, 0.56);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(146, 147, 148, 0.3);
  width: 10%;
  height: 70px;
  position: fixed;
  top: 78px;
  z-index: 100;
  border-radius: 10px;
}
.mycontainer1 {
  margin: 0px 33.8vw;
  position: fixed;
  top: 78px;
  z-index: 100;
}

.mycontainer1 > p:hover {
  display: block;
}

/* media queries */

@media screen and (max-width: 1600px) {
  .mycontainer {
    margin: 1px 15.8vw;
  }
}
@media screen and (max-width: 1200px) {
  .mycontainer {
    margin: 1px 3.8vw;
  }
  .mycontainerNav {
    margin: 1px 10vw;
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  .NarbarContent > div:last-of-type {
    justify-content: space-between;
  }
  .mycontainerNav {
    margin: 1px 20px;
    height: 100%;
  }
}
